.custom-blue {
    color: blue !important;
}

.center {
    height: calc(100vh - var(--navbar-height));
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

h4, h5, h6 {
    color: #188E8E;
}

h2 {
    font-size: 2.5rem;
}

h1 {
    font-size: 3.5rem;
}

.bottom {
    position: absolute;
    bottom: 5vh;
}

.game-icon {
    padding: 0 10px;
}

.methodology-block {
    background: #0C7D84;
    color: white;
    gap: 2rem;
}

/*.games-slider img {*/
/*    height: 100%;*/
/*    margin: 1rem;*/
/*    outline: solid 0 #188E8E;*/
/*    transition: outline-width 0.1s linear, padding 0.1s linear, filter 0.1s linear;*/
/*}*/

/*.games-slider img:hover {*/
/*    filter: brightness(1.5);*/
/*    margin: 0 1rem;*/
/*    top: 20px;*/
/*    position: inherit;*/
/*    padding: 10px;*/
/*    outline-width: 10px;*/
/*}*/
