<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="{{ url_for('static', filename='js/libs/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

        {% block css %}{% endblock %}

        <title>{% block title %}Командный игрок{% endblock %}</title>

        <!--
        <nav class="navbar navbar-light bg-light justify-content-end">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Главная</a>
                </li>
                {% if true %} current_user.is_authenticated
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Логин</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        -->
    {% endblock %}
</head>
<body>
<div id="nav-bar">{% block navbar %}
    <nav class="navbar navbar-light">
        <div class="logo">
            <img alt="Логотип Платформа Кружкового движения"
                 src="{{ url_for('static', filename='images/talent_symbol.svg') }}"
                 class="logo-sym-big">
            <div class="vl-line"></div>
            <p>Комадный игрок</p>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/methodology">Методология</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/check-level">Узнать свой уровень</a>
            </li>
        </ul>
        <div class="d-flex align-items-center">
            {% if current_user.is_authenticated %}
                <li class="pr-4 font-weight-bolder">Здравствуй, Иван</li>


                <div class="btn-group">
                <button class="dropdown-toggle remove-btn" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img alt="Аватар"
                         src="{{ url_for('static', filename='images/avatar.png') }}"
                         class="avatar">
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <div class="d-flex flex-column menu">
                        <a href="/auth/steam">Войти в Steam</a>
                        <a href="/auth/battlenet">Войти в Battle.net</a>
                        <a href="/profile">Профиль</a>
                        <a href="/auth/logout">Выйти из аккаунта</a>
                    </div>
                </div>
            {% else %}
                <a href="/auth/login" type="button" class="btn btn-light">Войти через TalantID</a>
            {% endif %}
            </div>
    </nav>
{% endblock %}</div>

<div id="content">{% block content %}{% endblock %}
    {% block games_slider %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/slider.js') }}"></script>
        <div class="block flex-column">
            <h1>Доступные игры</h1>
            <div class="games-slider">
                {% for i_game in games %}
                    <a href={{ "/games/" + i_game.url_name }}>
                        <img alt="{{ i_game.name }}"
                             src="{{ url_for('static', filename=i_game.images_path + '/card.png') }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endblock %}</div>
</body>
<footer>
    {% block footer %}
        <div class="col">
            <div class="row">
                <div class="col d-flex flex-row" style="gap: 1rem">
                    <a href="/">Пользовательское соглашение</a>
                    <a href="/">Политика конфиденциальности</a>
                </div>
                <div>
                    <a href="#top">Перейти в начало страницы</a>
                    <img alt="Вверх" src="{{ url_for('static', filename='images/arrow_drop_up.png') }}">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="footer-second-block-text">
                    <div class="col">
                        <a href="/">Академия Наставников</a>
                        <a href="/">Конкурс Талант 20.35</a>
                        <a href="/">Олимпиада КД НТИ</a>
                    </div>
                    <div class="col">
                        <a href="/">Фестиваль РУКАМИ</a>
                        <a href="/">Карта Кружков</a>
                        <a href="/">Кружковое движение</a>
                    </div>
                </div>
                <div class="flex flex-column d-flex col-auto" style="gap: 5px; align-items: flex-end;">
                    <img alt="Лого" width="200px" src="{{ url_for('static', filename='images/logo_white.png') }}">
                    <small>© Кружковое движение 2021</small>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
</html>

{% block js %}{% endblock %}