{% extends "base.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="center flex-column">
        <h1>Узнай свой уровень комадный игры</h1>
        <h4 class="pb-3">Расчет командного рейтинга на основе анализа игровых сессий</h4>
        <div class="flex-row">
            {% for game in games %}
                <a href={{ "games/" + game.url_name }}>
                    <img alt="{{ game.name }}" src="{{ url_for('static', filename=game.images_path + '/icon.svg') }}"
                         class="game-icon"></a>
            {% endfor %}
        </div>
        <a href="/check-level" class="btn btn-large btn-primary bottom">Узнать свой уровень</a>
    </div>
    <div class="block methodology-block flex-column">
        <h1>Методология</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur</p>
        <a href="/methodology" class="btn btn-large btn-light mt-5">Узнать</a>
    </div>
{% endblock %}
