{% extends "base.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/methodology.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/methodology.js') }}"></script>
{% endblock %}

{% block content %}
    <div style="padding: 15vh 10vw;" class="d-flex flex-column align-items-center justify-content-center">
        <h1>Методология</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.</p>
    </div>
    {% block games_slider %}
    {% endblock %}
{% endblock %}
