{% extends "base.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block content %}
    <div style="padding: 15vh 10vw;">
        <h1>Профиль</h1>
        <ul>
            {% for key, value in current_user.get_me().items() %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    {% block games_slider %}
    {% endblock %}
{% endblock %}
